body{
   line-height: 1.5;
}


header, nav{
    padding: 25px 50px 25px 50px;
    margin: 10px 5px 15px 5px;

}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    margin: 10px 25px 10px 25px;
    padding: 25px;
    font-size: 25px;
    background-color: #fff1d2;
}

nav a{
    /* Set text decoration*/
    text-decoration: none;
}

a:visited{
    /* Set color */
    color: black
}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-decoration: wavy underline;
    text-underline-offset: 10px;
    text-transform: uppercase;
}


h1{
   /*Set font and font size*/
    font-family: "Merriweather", "Anton", "Times New Roman", "Arial";
    font-size: 32px;
}

h2{
    /*Set font, font size, and alignment*/
    font-family: "Anton", "Times New Roman","Arial";
    text-align: center;
    font-size: 30px;
}

h3{
    /*Set font size*/
    font-size: 26px;
    margin: 10px 10px 0px 25px;
}

h1, h2, h3{
    margin-top: 10px;

}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    width: 90%;
    margin: 0 5vw;
    background-color: #112e51;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    row-gap: 10px;
    justify-content: center;
    border-radius: 20px;
}

.grid div{
    /* Set border properties, padding, and background color */
    background-color: #FAF9F6;
    border: 4px solid black;
    border-radius: 20px;

}

.grid img{
    /* Set width, margin, and display */
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    box-shadow: 10px 0px 5px gray;
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */
    box-shadow: -10px 0px 5px gray; 
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
     box-shadow: -10px 0px 5px gray, 10px 0px 5px gray;
}
    

p + p {
     /* Set indentation */
     text-indent: 10px;
  }
  
p{
     /* Set margin */
    padding: 5px 25px 5px 25px;
    margin: 10px 5px 15px 5px;
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
    margin-left: 50px;
    margin-bottom: 20px;
    line-height: 1;
    list-style-image: url(../images/sketchbook.png)
}

